NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSy...
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=my-store-51b02.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=my-store-51b02
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=my-store-51b02.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=240390353694
NEXT_PUBLIC_FIREBASE_APP_ID=1:240390353694:web:...
RAZORPAY_KEY_ID=rzp_test_...
RAZORPAY_KEY_SECRET=...
